.main-container {
  padding: 15px;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

.file-list {
  margin: 0;
}

.share-file-container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: auto;
  min-height: 25rem;
  max-height: 42rem;
  max-width: 45rem;
}

.share-file-main {
  border: none;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;

}
.share-file-upload-file {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0;

  margin: 15px; 
  padding: 30px 15px;
  
  border: dotted grey 1px;
  border-radius: 2px;
}

.share-file-description {
  margin: 15px;
  padding: 5px 0px 30px 0px;
  flex: 1 1 0;
}

@media only screen and (min-width: 768px) {
  .share-file-main {
    border: 1px solid black;
    border-radius: 5px; 
            
    display: flex;
    justify-content: center;
    flex-direction:row;
  }
}

.logout-btn-container {
  display: flex;
  justify-content: flex-end;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container > div {
  margin-bottom: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-bottom: 15px;
  width: 75%;
}

.share-header {
  margin: auto;
  margin-bottom: 25px;
}

.share-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hidden-file-input {
  display: none;
}