.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

.share-file-container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin: auto;
  min-height: 36rem;
  max-height: 42rem;
  max-width: 45rem;
}

.share-file-main {
  border: none;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;

}
.share-file-upload-file {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0;

  margin: 15px; 
  padding: 30px 0px;
  
  border: dotted grey 1px;
  border-radius: 2px;
}

.share-file-description {
  margin: 15px;
  padding: 5px 0px 30px 0px;
  flex: 1 1 0;
}

@media only screen and (min-width: 768px) {
  .share-file-main {
    border: 1px solid black;
    border-radius: 5px; 
            
    display: flex;
    justify-content: center;
    flex-direction:row;
  }
}
